.body{
	width: 100%;
	margin-bottom: 60px;
}
.foto_item {
	width:150px;
	height:200px;
	text-align: center;
	margin-right: 10px;
	float:left;
}
.foto_item img {
	width:150px;
}

.modal_bg{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9900;
	background-color: rgba(0, 0, 0, 0.6);
	display:none
}

.modal_{
	position: absolute;
	width: 400px;
	height: 350px;
	background-color: #ffffff;
	z-index: 10000;
	top: 50px;
	left: 50%;
	margin-left: -200px;
	padding: 20px;
	border-radius:7px;
	color: #337ab7;
	
}

.footer{
	background-color: #7f9bb3;
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	padding: 15px;
	color: white;
	text-align: center
}